body {
    font-family: 'Inter', sans-serif;
}

p {
    display: block;
    text-align: justify;
    width: 50%;
    margin: 0 auto;
    max-width: 600px;
    opacity: 0;
    transform: translateY(-10px);
    animation: slideIn 1s forwards;
}

h2, h3 {
    opacity: 0;
    transform: translateY(10px);
    animation: slideIn 1s forwards;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.formula {
    text-align: center;
    margin: auto;
    width: fit-content;
}

.conversion {
    text-align: center;
    margin: 0 auto;
}

h3 {
    text-align: center;
}

table {
    width: auto;
    margin: 20px auto;
    border-collapse: collapse;
    border: none;
}

table th, table td {
    border: none;
    padding: 0;
}


select {
    font-family: 'Inter', sans-serif;
    width: fit-content;
    font-size: 16px;
    margin: 5px;
}

.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    position: relative;
}


.clickable-name {
    color: gray;
    text-decoration: none;
    transition: color 0.2s ease;
    cursor: pointer;
}

.clickable-name:hover {
    color: black;
}

#backButtonContainer {
    margin: 5px 0;
}

#controls {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px auto;
    text-align: center;
}

#statsContainer {
    width: 50%;
    display: flex;
    margin: 0 auto;
}

li {
    display: inline;
    float: none;
}

li a:hover {
    color: gray;
}


a {
    display: inline-block;
    padding: 8px;
    color: black;
}

/* ANIMATION */

/* FOR TABLES */
.slide-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* FOR TABLES */
.slide-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* NAVBAR */

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 10px 20px;

    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 1000;
}

#navbar ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-right {
    position: absolute;
    right: 5px;
    display: flex;
}  

#navbar a {
    color: gray;
    text-decoration: none;
    transition: color 0.2s ease;
    cursor: pointer;
}

#navbar a:hover {
    color: black;
}

#navbar a.active {
    color: black;
    font-weight: 400;
}

#navbar li {
    display: flex;
}

/* BUTTON */

#updateTable, 
#backButton {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    margin: 5px auto;
    border: 1px solid black;
    border-radius: 12px;
    cursor: pointer;
    background-color: white;
    color: black;
    transition: all 0.3s ease;
}

#updateTable:hover,
#backButton:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

#updateTable:focus,
#backButton:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.2);
}

/* CHARTS */

#rankedCategoryContainer {
    display: block;       
    width: fit-content;   
    margin: 20px auto;   
    clear: both;             
    text-align: center;
}

#rankedChartsContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 40%;
}

canvas {
    background-color: #fafafa;
    border-radius: 20px;
    padding: 10px;
    width: 100%;
    max-width: 100%;
}

/* TABLE */
.table-wrapper {
    flex: 1 1 40%;
    background-color: #fafafa;
    border-radius: 20px;
    margin: 5px;
    overflow: hidden;
    padding: 0;
}

.table-wrapper table {
    width: 100%;
    border-collapse: collapse;
    border: none;
    background: none;
}

.table-wrapper table th,
.table-wrapper table td {
    border: none;
    padding: 12px 15px;
    text-align: left;
}

.table-wrapper table tbody tr:hover {
    background-color: #d0d0d0;
    transition: background-color 0.2s ease;
}

#dashboardContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

#tableContainer {
    display: flex;
    width: auto;
    flex-wrap: wrap;
}

#tableContainer, #rankedChartsContainer {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    gap: 20px;
    flex: 1;
    overflow: hidden;
}